:root {
    --darkBlue: rgb(0, 70, 107);
    --darkBlueHover: rgb(25, 148, 210);
    --defaulColor: #f3ebeb;
}

* {
    font-family: 'Lato', sans-serif;

}


nav {
    background: var(--darkBlue);
    border-top: 1px solid var(--darkBlueHover);
    border-bottom: 1px solid var(--darkBlueHover);
}

header,
section#aboutUs {
    background-color: rgba(58, 54, 49, 0.815);
}


h2 {
    padding: 10px 10px 10px 10px;
    font-size: 3rem;
    font-weight: lighter;
    color: var(--darkBlueHover);
    letter-spacing: 0.2px;
    font-style: italic;
}

h4 {
    text-transform: uppercase;
}

.logo-MW {
    width: 200px;
    height: 200px;
}

.film {
    width: 100%;
    height: 100%;
}

nav .navbar-nav a {
    color: #ffff;
    font-size: 1.3rem;
    font-weight: 800;
    text-shadow: 1px 1px #000;
    background-color: var(--darkBlue);
    padding: 10px;
}


nav .navbar-nav a:hover {
    color: #000;
    background-color: var(--darkBlueHover);
    text-decoration: none;
    text-shadow: 1px 1px #ffffff;
}

#top {
    display: inline-block;
    font-size: 3rem;
    color: var(--darkBlueHover);
    bottom: 30px;
    right: 20px;
    position: fixed;
    z-index: 99;
    opacity: 0;
    transition: 1s;

}


#top.show {
    opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #0000;

}

.navbar-collapse {
    margin: 0 auto;
}



p {
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0.2px;
}


#Projects,
#Location {
    background-color: rgb(27, 27, 27);
}

.card {
    min-height: 548px;
}

.bg-MW {
    background-color: var(--darkBlue);
}

#jumbo {
    background-image: url("../image/Screenshot_3.png");
    background-repeat: no-repeat;
    background-size: cover;


}

section {
    min-height: 450px;
}

#fluid-MW {
    background-image: url('../image/piston-3483519_1920.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#fluid-MW2 {
    background-image: url('../image/station-839208_1920.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767);
}

#footer {
    background-color: var(--darkBlue);

}

.fas,
.fab {
    font-size: 4rem;
    transition: 0.5s linear;
}

.fas:hover,
.fab:hover {
    transform: scale(1.1);
    color: var(--darkBlueHover);
}